extends layout.pug

block header
    h1 Flash cards
block content
    form(method="POST", action="/hello")
        input(type="text", name="username")
        button(type="submit") Go
block footer
    p This is the footer