doctype html
html(lang="en")
    head
        title Express basics
        link(rel="stylesheet" href="/static")
    body
        header
            block header
        main
            block content
        footer
            block footer